@model IEnumerable<DiplomFreelance.Models.FreelanceModels.ViewModel.OrderViewModel>

<script type="text/javascript">

    function OpenChat(idexec) {
        $.ajax({
            url: '/Chat/ChatPartial',
            data: { 'iduser': idexec },
            cache: false,
            success: function (html) {
                $("#chatBody").html(html);
            }
        });
        $('#chatModalCenter').modal('show');
    }
</script>

@if (Model.Count() != 0)
{
    foreach (var order in Model)
    {
        <div class="row no-gutters mb-4">
            <div class="card border-rounded shadow col-lg-8 col-md-12 col-sm-12 mt-5">
                <div class="card-body ">
                    @if (order.IsBanned == true)
                    {

                        <p class="card-title heading-def">@order.Name</p>
                        <p>@order.Category  •  @order.Subcategory</p>
                        <div class="d-flex flex-row align-items-center">
                            <div class="col-3 p-0">
                                <p class="alert-danger text-center rounded-pill p-1">Заблокирован <i class="fa fa-lock" aria-hidden="true"></i></p>
                            </div>
                            <div class="col">
                                <p class="text-muted">Заказ был опубликован @order.Date.ToShortDateString() в @order.Date.ToShortTimeString()</p>
                            </div>
                        </div>
                        <hr />
                        <p class="xl-text text-danger">Ваш заказ был заблокирован модератором!</p>
                        <p>Возможно размещенный вами заказ нарушал правила нашей площадки, впредь будте осторожны! Многократные нарушения правил нашей площадки могут повлечь блокировку вашего аккаунта.</p>
                    }
                    else
                    {
                        <button type="button" class="close btn-lg" aria-label="Close" onclick="deleteOrder('@order.ID')" @*href="@Url.Action("DeleteOrder", "Customer", new { idOrder = order.ID })"*@>
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <p class="card-title heading-def">@order.Name</p>
                        <p>@order.Category  •  @order.Subcategory</p>
                        <div class="d-flex flex-row align-items-center">
                            <div class="col-3 p-0">
                                @switch (order.Status)
                                {
                                    case "Опубликован":
                                        <p class="alert-primary text-center rounded-pill p-1">@order.Status</p>
                                        break;
                                    case "Выполняется":
                                        <p class="alert-warning text-center rounded-pill p-1">@order.Status</p>
                                        break;
                                    case "Завершен":
                                        <p class="alert-success text-center rounded-pill p-1">@order.Status</p>
                                        break;
                                    case "Ожидание":
                                        <p class="alert-warning text-center rounded-pill p-1">@order.Status</p>
                                        break;
                                    case "Отклонен":
                                        <p class="alert-danger text-center rounded-pill p-1">@order.Status</p>
                                        break;
                                }

                            </div>
                            <div class="col">
                                <p class="text-muted">Заказ был опубликован @order.Date.ToShortDateString() в @order.Date.ToShortTimeString()</p>
                            </div>
                        </div>

                        <div class="accordion" id="accordionDetailsOrder">

                            <p class="mb-0 mt-0 text-center ">
                                <button class="btn btn-link def-link-text collapsed font-weight-normal pl-0 text-decoration-none" data-toggle="collapse" data-target="#collapseDetailsOrder_@order.ID" aria-expanded="false" aria-controls="collapseOne">
                                    Подробности <i class="fa fa-angle-double-down fa-lg " aria-hidden="true"></i>
                                </button>
                            </p>

                            <div id="collapseDetailsOrder_@order.ID" class="collapse" data-parent="#accordionDetailsOrder">
                                <hr />
                                @if (order.Files.Count() > 0)
                                {
                                    <p class="xl-text font-weight-bold">Изображения</p>
                                    <div class="row mt-3">
                                        @foreach (var img in order.Files)
                                        {
                                            <div class="col-md-4">
                                                @* <a class="example-image-link" href="@img.Image" data-lightbox="example-1"><img class="example-image" src="@img.Image" alt="image-1" /></a>*@
                                                <a class="example-image-link" href="@img.Image" data-lightbox="roadtrip_@order.ID">
                                                    <img class="img-responsive rounded w-100 example-image" src="@img.Image" name="Images" />
                                                </a>

                                            </div>
                                        }
                                    </div>

                                    <hr />
                                }
                                <p class="xl-text font-weight-bold">Подробная информация</p>
                                <p class="text-justify mt-3">@order.Description</p>
                                @if (!String.IsNullOrEmpty(order.Address))
                                {
                                    <div class="row">
                                        <div class="col-1">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </div>
                                        <div class="col">
                                            <p>@order.Address</p>
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <div class="row">
                                        <div class="col-1">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </div>
                                        <div class="col">
                                            <p>@order.Place</p>
                                        </div>
                                    </div>
                                }
                                <div class="row">
                                    <div class="col-1">
                                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                    </div>
                                    <div class="col">
                                        <p>@order.Deadline.ToShortDateString()</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-1">
                                        <i class="fa fa-rub" aria-hidden="true"></i>
                                    </div>
                                    <div class="col">
                                        <p> @order.Budget</p>
                                    </div>
                                </div>

                                @switch (order.Status)
                                {
                                    case "Опубликован":

                                        <div class="accordion" id="accordionResponses">

                                            <p class="mb-0 mt-0">
                                                <button class="btn btn-link def-link-text collapsed font-weight-normal pl-0" data-toggle="collapse" data-target="#collapseRespons_@order.ID" aria-expanded="false" aria-controls="collapseOne">
                                                    <span class="badge badge-success">@order.Responses.Count()</span> Отклики исполнителей <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                </button>
                                            </p>

                                            <div id="collapseRespons_@order.ID" class="collapse" data-parent="#accordionResponses">

                                                @foreach (var response in order.Responses)
                                                {
                                                    <div class="row border rounded-lg p-2 mr-1 ml-1 mt-2">
                                                        <div class="col-2">
                                                            <img src="@response.Executor.Photo" alt="" class="img-responsive rounded w-100" />
                                                            <p class="text-center h6"> <i class="fa fa-star" aria-hidden="true" style="color:#28a745"></i> @response.Executor.Raiting</p>
                                                        </div>
                                                        <div class="col">
                                                            <div class="d-flex">
                                                                <a class="h5" href="@Url.Action("Executor", "Global", new { id = order.Executor.ID_User })">@response.Executor.Name</a>
                                                                <p class="text-muted ml-auto">@response.Date.ToShortDateString()</p>

                                                            </div>
                                                            @*<p class="">Рейтинг: @response.Executor.Raiting</p>*@
                                                            <p class="text-justify">@response.Notation</p>

                                                            <p> @response.Price  <i class="fa fa-rub" aria-hidden="true"></i></p>

                                                        </div>
                                                        <div class="col-12 bg-light p-2">
                                                            <div class="float-right">
                                                                <a class="btn btn-outline-info rounded-pill" href="#"><i class="fa fa-comments-o fa-lg" aria-hidden="true"></i> Чат</a>
                                                                <a class="btn btn-outline-success rounded-pill" href="@Url.Action("SetExecutor", "Customer", new { idExec = response.Executor.ID_User, idOrder = order.ID, budget = response.Price })">Назначить исполнителем</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row p-3">
                                            <div class="col alert alert-info">
                                                <p class="h4 text-center">Исполнитель отсутствует</p>
                                            </div>
                                        </div>

                                        break;
                                    case "Выполняется":

                                        <hr />
                                        <p class="h4">Исполнитель</p>
                                        <div class="row border rounded-lg p-2 mr-1 ml-1 mt-3 mb-3">
                                            <div class="col-2">
                                                <img src="@order.Executor.Photo" alt="" class="img-responsive rounded w-100" />
                                                <p class="text-center h6"> <i class="fa fa-star" aria-hidden="true" style="color:#28a745"></i> @order.Executor.Raiting</p>
                                            </div>
                                            <div class="col">
                                                <div class="d-flex">
                                                    <p class="h5">@order.Executor.Name</p>
                                                </div>
                                                <p class="">@order.Executor.Specialty</p>

                                            </div>
                                            <div class="col-12 bg-light p-2">
                                                <div class="float-right">
                                                    <a class="btn btn-outline-success rounded-pill float-right" href="@Url.Action("Executor", "Global", new { id = order.Executor.ID_User })"><i class="fa fa-user" aria-hidden="true"></i> Профиль</a>
                                                    <a class="btn btn-outline-info rounded-pill float-right mr-1" href="#" onclick="OpenChat('@order.Executor.ID_User')"><i class="fa fa-comments-o fa-lg" aria-hidden="true"></i> Чат</a>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-lg rounded-pill btn-outline-success text-center" onclick="completeOrder('@order.ID')" @*href="@Url.Action("CompleteOrder", "Customer", new { idOrder = order.ID })"*@>Завершить заказ</button>

                                        break;
                                    case "Завершен":
                                        <hr />
                                        <div class="row p-3">
                                            <div class="col alert alert-success">
                                                <p class="h4 text-center">Заказ был завершен</p>
                                            </div>
                                        </div>
                                        break;
                                    case "Ожидание":

                                        <hr />
                                        <div class="row p-3">
                                            <div class="col alert alert-warning">
                                                <p class="h4 text-center">Ожидаем согласие исполнителя</p>
                                            </div>
                                        </div>

                                        break;
                                    case "Отклонен":

                                        <hr />
                                        <div class="row p-3">
                                            <div class="col alert alert-danger">
                                                <p class="h4 text-center">Исполнитель отклонил ваш заказ</p>
                                            </div>
                                        </div>

                                        break;

                                }
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    }
}
else
{
    <h2 class="text-muted font-weight-bold mt-5 mb-5">Заказы отсутствуют</h2>
}